.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu .floating-btn .nav-user-photo {
	margin: -8px 8px 0 0;
	border-radius: 100%;
	border: 2px solid #FFF;
  max-width: 3.5em;
  width: 3.5em;
  height: 3.5em;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn {
  font-size: 1em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn {
  transform: rotate(22deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  /* font-size: 1em; */
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: #2c3d4e;
  background-image: url('../img/preside-logo-radialmenu.png');
  background-position: 2px 2px;
}

.circular-menu.circular-menu-left:after {
  background-color: #2c3d4e;
}

.circular-menu.circular-menu-left .floating-btn {
  transition: transform .2s;  
}

.circular-menu.circular-menu-left.active .floating-btn {
  transform: rotate(45deg);
  transition: transform .3s ease;
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}

.presidecms.circular-menu.circular-menu-left .popover-content {
  padding:0;
  min-height: auto;
}

.presidecms .popupOptions {
  list-style: none;
  margin:0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	font-size: 14px;
	background-color: #fff;
	border: 0;
	background-clip: padding-box;
}

.presidecms .popupOptions > li > a {
 	font-size: 13px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 4px;
	margin-bottom: 1px;
  margin-top: 1px; 
  display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.presidecms .popupOptions > li:hover > a {
	background: #4f99c6;
  color: #fff;
  text-decoration: none;
}  
